@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

$primary: #2b57cb;
$secondary: #F0EDE2;
$success: #CFE4C5;
$warning: #FABC3A;
$alert: #FB8089;

$dark-blue: #1d3a88;
$blue: #3061E2;
$light-blue: #3062e2ca;
$tan: #F0EDE2;
$light-tan: #f0ede283;
$dark-green: #7FAE69;
$green: #CFE4C5;
$orange: #FABC3A;
$light-orange: #fabd3a86;
$red: #FB8089;

$font-logo: 'Abril Fatface', sans-serif;
$font-header: 'Space Grotesk', sans-serif;
$font-body: 'Montserrat', sans-serif;

$border-radius-px: 4px;

body {
  font-family: $font-body;
}

#app {
  min-height: 100vh;
}

a:hover {
  color: black
}

.bold--yellow {
  font-size: 1em;
  font-weight: bold;
  color: #f4a700;
}

.button {
  border-radius: 20px;
  border: black solid 1px;
  font-family: $font-header;
  font-weight: bold;
  padding: 0.5rem 1rem;
}

.button:hover {
  background-color: black;
}

.button__shadow {
  border-radius: 2px;
  background-color: $orange;
  color: black;
  font-weight: bolder;
  box-shadow: -3px -3px black;
  border: 2px solid black;
  margin: 15px;
  
  a {
    color: black;
  }
}

.button__shadow:hover {
  background-color: $orange;
  color: black;
  box-shadow: none;
}

.button__shadow--blue {
  background-color: $blue;
  color: white;
}

.section__modify-buttons {
  margin: 5px 0;
  @include xy-gutters($gutter-position: left bottom);
}

.button__delete {
  color: gray;
  font-size: small;
  text-align: right;
}

.button__delete:hover {
  cursor: pointer;
}

.button__undo {
  color: gray;
  font-size: small;
  text-align: center;
}

.button__undo:hover {
  cursor: pointer;
}

.chart-time-range {
  height: 70%;
  min-height: 400px;
  max-height: 400px;
  width: 100%;
  background-color: white;
  color: $blue;
  border-radius: $border-radius-px;
  margin-bottom: 20px;

  h6 {
    text-align: left;
    padding: 10px 7px;
    font-weight: bold;
    color: black;
  }
}

.close-icon {
  float: right;
}

.close-icon:hover {
  color: $red;
  cursor: pointer;
}

.footer {
  background-color: $dark-blue;
  color: white;
  margin-top: 11em;
  padding: 75px;

  a {
    color: white
  }

  a:hover {
    color: $orange
  }
}

.form__section {
  align-content: center;
  width: 80%;
  margin: 2em auto 2em;
  background-color: white;
}

.form__section--outline {
  padding: 20px 20px 20px 20px;
  border-width: 1px;
  border-radius: $border-radius-px;
  border: $orange solid 2px;
}

.form__section--quest {
  width: auto;
}

.header {
  margin: 20px;
  color: $primary;
  font-family: $font-header;
  font-weight: bold;
}

.header--quest-title {
  margin: 40px 20px 10px 20px;
}

.landing__header {
  justify-items: center;
  background-color: white;
}

.landing__header-text {
  text-align: left;
  color: black;
  margin: 40px;
  font-weight: lighter;
  font-size: 55px;
}

.landing__header-subtext {
  margin: 0 20px 20px 40px;
  text-align: left;
}

.landing__header-buttons {
  margin: 15px 15px 50px 40px;
}

.landing__middle {
  background-color: $tan;
  padding: 50px 0;
  text-align: justify;
}

.list {
  border: $blue 1px solid;
  border-radius: $border-radius-px;
  padding: 20px 30px 40px 30px;
  background-color: white;
}

.list__header {
  letter-spacing: .2em;
  text-decoration: underline 2px;
  text-underline-offset: 5px;
  margin-bottom: 35px;
}

.menu {
  align-items: center;
}

.menu .button {
  padding: 0.4rem 1rem 0.5rem 1rem;
  font-family: $font-header;
  font-weight: normal;
  font-size: 16px;
  border-radius: $border-radius-px;
}

.menu-text__app-name {
  color: black;
  font-family: $font-logo;
  font-size: 25px;
  letter-spacing: 1px;
  padding: 0;
}

.menu-text__app-name:visited {
  color: black;
}

.menu-text__app-name:hover {
  color: $dark-blue;
}

.quest-list-item {
  border-radius: $border-radius-px;
  border: $blue solid 2px;
  padding: 15px;
  display: block;
  background-color: $light-orange;
  text-align: center;
  color: black;
  font-weight: bold;
}

.quest-list-item:hover {
  background-color: $orange;
}

.quest__description {
  color: $light-blue;
}

.reward {
  border: $blue solid 2px;
  border-radius: $border-radius-px;
  box-shadow: inset 0 -6px 0 $green;
  padding: 0 0 2px 5px;
  background-color: transparent;
  margin: 15px 0 5px 0;

  p {
    margin: 0;
  }
}

.reward:hover {
  background-color: transparent;
  box-shadow: inset 0 -50px 0 0 $green;
  transition: .2s ease-out;
  cursor: pointer;
  
  .reward__text {
    color: black;

    span {
      color: black
    }
  }
}

.reward--used {
  background-color: $green;
  border-radius: $border-radius-px;
  border: black solid 2px;
  padding: 5px 2px 8px 10px;
  margin: 15px 15px 5px 15px;

  .reward__text {
    color: black;
    text-decoration: line-through;
    font-weight: normal;
  }
}

.reward--used:hover {
  background-color: $green;
  box-shadow: none;
  cursor: not-allowed;
}

.reward--locked {
  background-color: $tan;
  border: black solid 2px;
  box-shadow: none;

  .reward__text {
    color: black;
    font-weight: normal;

    span {
      color: black;
      font-weight: normal;
    }
  }
}

.reward--locked:hover {
  background-color: $tan;
  box-shadow: none;
  cursor: not-allowed;
}

.reward--locked-icon {
  padding-top: 5px;
  font-size: x-large; 
}

.reward__text {
  margin: 0px;
  padding: 0 0 0 5px;
  font-size: .85em;
  font-weight: bold;
  font-family: $font-header;
  color: $blue;
  text-align: left;

  span {
    color: $orange;
    font-weight: bold;
    padding: 0px 5px;
  }
}

.reward__drag-icon {
  padding-top: 5px;
}

.reward__points {
  padding-right: 5px;
  font-size: .8em;
  font-weight: bold;
  text-align: right;
}

.subheader {
  color: $blue;
}

.summary__header {
  padding: 1em 1em .2em 1em;
  font-size: 40px;
  letter-spacing: .1em;

  span {
    color: black;
    font-size: 30px;
    width: 75px;
    height: 75px
  }
}

.summary__body {
  margin: 30px 0;
  padding: 40px 10px;
  background-color: $tan;

  .subheader span {
    font-size: 20px;
    padding: 8px 10px;
    border: #3061E2 solid 2px;
    border-radius: 50%;
  }
}

.task {
  border-radius: $border-radius-px;
  border: $blue solid 2px;
  box-shadow: inset 3.6em 0 0 0 $red;
  padding: 1px 2px 0 13px;
  background-color: transparent;
  margin: 15px 0 5px 0;

  p {
    margin: 0;
  }
}

.task:hover {
  box-shadow: inset 600px 0 0 0 $red;
  transition: .4s ease-out;
  
  .task__name {
    color: black
  }
  .task__points {
    color: black
  }
}

.task--completed {
  background-color: $red;
  box-shadow: none;
  border: black solid 2px;
}

.task__points {
  padding-right: 5px;
  font-size: .8em;
  font-weight: bold;
  text-align: right;
}

.task__name {
  padding: 5px 5px 5px 2em;
  font-size: .85em;
  text-align: left;
  font-weight: bold;
  font-family: $font-header;
  color: $blue
}

.task__name--completed {
  text-decoration: line-through;
  font-weight: normal;
  color: black
}

.task__checkbox {
  padding-top: 5px;
  font-size: x-large;
}

.task__checkbox:hover {
  cursor: pointer;
}

.task__drag-icon {
  padding-top: 5px;
}

.task__drag-icon:hover {
  cursor: grab;
}

.task__drag-icon:active {
  cursor: grabbing
}

.top-bar {
  padding: 10px 20px;
  width: 100%;
}

.top-bar, .top-bar ul{
  background-color: white;
}